body {
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: #faf9d5;
}
header {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 3px solid black;
}
header h1 {
    font-size: calc(2.5vw + 2.5vh);
    margin-bottom: 10px;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 3px solid #555;
    float: left;
    font-size: calc(2.5vw + 2.5vh);
    font-weight: bold;
    height: calc(5vw + 5vh);
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: calc(5vw + 5vh);
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
}

.game-info {
    font-size: calc(1vw + 1vh);
    margin-left: 20px;
    width:13vw;
}
.game-status {
    white-space: nowrap;
}
.game-board {
    margin: 0 auto;
}
.board-row {
    display: flex;
    flex-wrap:nowrap;
}
ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}
button.move-button {
    width: 7vw;
    height: 5vh;
    font-size: calc(0.5vw + 0.5vh);
    background-color: white;
    border-radius: 4px;
    margin-top: 5%;
}
button.move-button:hover {
    border-color: #999;
}
.square.winning {
    color: green;
}